.data_widget {
  display: grid;
  grid-template-areas: '. data_panel .' 'arrow_widget_left data_carousel arrow_widget_right';
  grid-template-rows: 24px 143px;
  row-gap: 25px;
  column-gap: 28px;
  align-items: center;
  margin-bottom: 38px;
  justify-content: center;
}

.data_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
  grid-area: data_panel;
}

.data_panel_forecast {
  color: var(--big-text);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 100%;
}

.data_panel_nav {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.default_link,
.active_link {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 100%;
  background-color: var(--light-text);
  transition:
    background-color 0.5s ease 0s,
    color 0.5s ease 0s;
  padding-bottom: 3px;
  box-sizing: border-box;
  border: 3px solid transparent;
  cursor: pointer;
}

.default_link {
  color: var(--shadow-text);
}

.active_link {
  color: var(--big-text);
  border-bottom: 3px solid var(--big-text);
}

.default_link:hover,
.active_link:hover {
  transition:
    background-color 0.5s ease 0s,
    border-bottom 0.5s ease 0s,
    color 0.5s ease 0s;
  border-bottom: 3px solid var(--big-text);
  color: var(--big-text);
}

@media (width <= 1439px) {
  .data_widget {
    grid-template-areas: '. data_panel data_panel' 'arrow_widget_left data_carousel arrow_widget_right';
    column-gap: 13px;
    margin-bottom: 42px;
  }
}

@media (width <= 833px) {
  .data_widget {
    grid-template-areas: 'data_panel' 'data_carousel';
    grid-template-rows: auto auto;
    row-gap: 33px;
    column-gap: 28px;
    align-items: center;
    margin-bottom: 59px;
    justify-content: center;
  }

  .data_panel {
    flex-direction: column;
    row-gap: 30px;
    grid-area: data_panel;
  }
}
