.data_time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  width: 100px;
  min-height: 143px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: var(--light-block);
  transition: background-color 0.5s ease;
  box-shadow: 0 7px 12px 0 rgb(0 0 0 0.05);
  position: relative;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale 1;
  }
}

.text_item {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16px;
  color: var(--big-text);
  text-align: center;
}

.sky {
  top: 18%;
  position: absolute;
}

.data_temperature {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
}

.data_carousel {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  list-style-type: none;
}

.hours {
  grid-area: data_carousel;
}

.temp_night {
  color: var(--temp-night);
}

.week {
  grid-area: data_carousel;
}

.arrow_widget_left {
  grid-area: arrow_widget_left;
  border: none;
  background-color: var(--light-text);
  transition: background-color 0.5s ease 0s;
}

.arrow_widget_right {
  grid-area: arrow_widget_right;
  border: none;
  background-color: var(--light-text);
  transition: background-color 0.5s ease 0s;
}

.arrow_active circle {
  opacity: 0.3;
  fill: var(--light-block);
}

.arrow_active path {
  opacity: 0.3;
  stroke: #acacac;
}

.arrow_disable circle {
  opacity: 1;
  fill: var(--light-block);
}

.arrow_disable path {
  opacity: 1;
  stroke: #acacac;
}

@media (width <= 833px) {
  .data_carousel {
    gap: 55px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .arrow_widget_left,
  .arrow_widget_right {
    display: none;
  }
}

@media (width <= 375px) {
  .data_carousel {
    gap: 5px;
  }
}

@media (width <= 220px) {
  .data_time {
    width: 80px;
    padding: 9px;
    text-align: center;
  }

  .data_temperature {
    padding-top: 10px;
    flex-direction: column;
  }
}
